@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&family=Yuji+Mai&display=swap');

*{
	padding: 0px;
	margin : 0px;
}

h1.heading{
	font-size: 64px;
	text-align: center;
	padding-top: 40px;
	padding-bottom : 40px;
	font-family: "Inter", sans-serif;
}

.menu{
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 24px;
}

.menu a{
	margin: 25px;
}

.headerImg img{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}